.child-getting-data {
    margin: 15px;
    border: 2px solid darkblue ;
    padding: 8px;
}

h4 {
    color: darkblue;
}

p {
    font-weight: bold;
    color: salmon;
}

span {
    font-style: italic;
    color: green;
}